@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url("../public/assets/font/Burtons.otf")
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main,
nav {
  @apply transition-colors duration-200
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @apply text-gray-900;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  @apply text-teal-500 transition
}
